@import "./theme.scss";

.drop-zone {
  border: 2px dashed $secondary;
  border-radius: 2px;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  //   background: $light;
  height: spacing(10);
  outline: "none";
}

// .file-list {
//   box-shadow: 5px 6px 9px -3px rgba(0, 0, 0, 0.76);
//   // -webkit-box-shadow: 5px 6px 9px -3px rgba(0, 0, 0, 0.76);
//   // -moz-box-shadow: 5px 6px 9px -3px rgba(0, 0, 0, 0.76);
//   border-radius: 9px;
// }

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.55rem;
  background-color: #e9ecefba;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 5px 6px 9px -3px rgba(0, 0, 0, 0.3) !important;
  border-radius: 9px;
  border: none !important;
}

.list-close-btn {
  position: absolute;
  float: right;
  padding: 0;
  right: 8px;
  top: 8px;
  cursor: pointer;
  :hover {
    color: rgb(245, 100, 100);
  }
}
