.table-container {
  margin: 4px 4px;
  .table-header {
    background-color: #060b71;
    color: white;
    text-align: center;
  }
}

.action-text {
  text-decoration: underline;
  cursor: pointer;
}
